@font-face {
  font-family: 'Poppins', sans-serif;
  font-family: 'infirmly';
  src: url(/fonts/InfirmlyIndicatorRegular-9YVxK.ttf);
}

.opener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/bangalorePalace.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Nav bar */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 100%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* BENGALURU HEADER TEXT*/
.text-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.text-box h1 {
  font-family: infirmly;
  font-size: 195px;
}

.text-box p {
  margin: 10px 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.visit-btn {
  font-family: 'Poppins', sans-serif;

  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  border-radius: 10px;

}

.visit-btn:hover {
  border: 1px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-decoration: none;
}

nav .fa {
  display: none;
}

@media(max-width: 700px) {
  .text-box h1 {
    font-size: 95px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #ce0606;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/*--Known for--*/
.knownfor {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.knownfor-col {
  flex-basis: 31%;
  background: rgba(147, 147, 147, 0.2);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.knownfor-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*---History---*/
.historycontent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}

.history-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.history-col img {
  width: 100%;
  border-radius: 10px;
}
.history-col img2 {
  width: 100%;
  border-radius: 10px;
}
.history-col h2 {
  font-size: 25px;
text-decoration: underline;
  padding-top: 0;
}

.history-col p {
  font-size: 40px;
  padding: 15px 0 25px;
}



/*---Geography page header---*/
.geoopener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/geography.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.geo-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.geo-box h1 {
  font-family: infirmly;
  font-size: 195px;
}

.geo-box p {
  margin: 10px 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

@media(max-width: 700px) {
  .geo-box h1 {
    font-size: 95px;
  }
}

/*---Geography page : Terrain content---*/
.geocontent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}

.geo-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.geo-col img {
  width: 100%;
  border-radius: 10px;
}

.geo-col h2 {
  font-size: 25px;
text-decoration: underline;
  padding-top: 0;
}

.geo-col p {
  font-size: 50px;
  padding: 15px 0 25px;
}

/*---Geography page : Water content---*/
.watercontent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;

}

.water-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.water-col img {
  width: 100%;
  border-radius: 10px;
}

.water-col h2 {
  padding-top: 0;
}

.water-col p {
  padding: 15px 0 25px;
}

/*---People page header---*/
.peopleopener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/people.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.people-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.people-box h1 {
  font-family: infirmly;
  font-size: 195px;
}

.people-box p {
  margin: 10px 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/*-----People content-----*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  padding: 60px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  border: 2px solid #cacaca;
  border-radius: 8px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid-item h3 {
  margin-top: 15px;
  font-size: 28px;
}

.grid-item p {
  margin: 8px 0;
  font-size: 21px;
  color: #555;
}

/*---Places header---*/
.placesopener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/places.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.places-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.places-box h1 {
  font-family: infirmly;
  font-size: 195px;
}

.places-box p {
  margin: 10px 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}




/*---Top 3 things---*/
.things {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 80px;
}

.things-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.things-col img {
  width: 100%;
  display: flex;
}

.text1 {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.text1:hover {
  background: rgba(0, 0, 0, 0.5);
}

.text1 h3 {
  width: 100%;
  font-size: 35px;
  color: rgb(255, 255, 255);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.text1:hover h3 {
  bottom: 49%;
  opacity: 1;

}

/*---Economy header---*/
.ecoopener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/economy.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.eco-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.eco-box h1 {
  font-family: infirmly;
  font-size: 195px;
}

.eco-box p {
  margin: 10px 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/*---Economy page content---*/
.ecocontent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}

.eco-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.eco-col img {
  width: 100%;
  border-radius: 10px;
}

.eco-col h2 {
  font-size: 25px;
text-decoration: underline;
  padding-top: 0;
}

.eco-col p {
  font-size: 50px;
  padding: 15px 0 25px;
}

/*---Photos header---*/
.photosopener {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(/images/photo.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.photos-box {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.photos-box h1 {
  font-family: infirmly;
  font-size: 195px;
  
}
/*---Slideshow---*/

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}
.slide{
  border-radius: 10px;

}
/* Style for the slides */
.mySlides {
  display: none;
}

/* Style for navigation dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Style for active dot */
.active {
  background-color: #717171;
}
/*---Footer---*/
footer {
  background-color: #7b7b7b;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.social-icons i {
  vertical-align: middle;
  margin-right: 5px;
}
/*---All pages bg---*/
.bg {
  background-color: #e7e7e7;
}